@{
    ViewData["Title"] = "トップ";
}

<div class="text-center">
    <div class="jumbotron">
        <div align="center">
            <h2>C#で実践するビヘイビア駆動型開発 [演習]</h2>
            <div class="container">
                <p>商品をキーワード検索する</p>
                <p>商品を登録する</p>
                <p>商品を変更する</p>
            </div>
        </div>
    </div>
</div>
