@{
    ViewData["Title"] = "エラーページ";
}

<div class="text-center">
    <div class="jumbotron">
        <div align="center">
            <h2>申し訳ありません、システムが停止中です。</h2>
            <h4>システム管理部門にお問い合わせください。</h4>
        </div>
    </div>
</div>
